# Load and Prepare Data

In [1]:
import pandas as pd

In [5]:
df=pd.read_csv(r"C:\Users\Partiran\Desktop\python\1404.10.18\Spam-Email-Detection\dataset\Spam_Email.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.shape

(5572, 2)

In [7]:
df.columns

Index(['Category', 'Message'], dtype='object')

In [9]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [10]:
df.dtypes

Category    object
Message     object
dtype: object

In [11]:
df['Category'].value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [12]:
df['Category'].unique()

array(['ham', 'spam'], dtype=object)

In [15]:
df['Category'] = df['Category'].map({'ham': 0,'spam': 1})

In [17]:
df['Category'].value_counts()

Category
0    4825
1     747
Name: count, dtype: int64