# Load and Prepare Data

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\Partiran\Desktop\python\1404.10.18\Spam-Email-Detection\dataset\Spam_Email.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.shape

(5572, 2)

In [4]:
df.columns

Index(['Category', 'Message'], dtype='object')

In [5]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [7]:
df.dtypes

Category    object
Message     object
dtype: object

In [8]:
df['Category'].value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [9]:
df['Category'].unique()

array(['ham', 'spam'], dtype=object)

In [10]:
df['Category'] = df['Category'].map({'ham': 0,'spam': 1})

In [11]:
df['Category'].value_counts()

Category
0    4825
1     747
Name: count, dtype: int64

In [12]:
df.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [13]:
X = df['Message']

Y = df['Category']

# Split Data For Train & Test

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42,stratify=Y)

In [16]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

# Feature Extraction

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase = True)

In [19]:
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)